Logic Apps/SecurityCopilot-Sentinel-Incident-Investigation/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName":  {
            "defaultValue":  "SecurityCopilot-Sentinel-Incident-Investigation",
            "type":  "string"
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "securitycopilotConnectionName":  "[concat('Securitycopilot-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "provisioningState":  "Succeeded",
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Compose_Incident_Entities": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "@triggerBody()?['object']?['properties']?['relatedEntities']"
                        },
                        "Condition_-_Validate_Entities": {
                            "actions": {
                                "For_Each_Entity": {
                                    "foreach": "@outputs('Compose_Incident_Entities')",
                                    "actions": {
                                        "Switch": {
                                            "cases": {
                                                "Case_-_Ip_Address": {
                                                    "case": "Ip",
                                                    "actions": {
                                                        "Security_Copilot_prompt_for_AbuseIPDB": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "body": {
                                                                    "PromptContent": "I'm curious about any abuseipdb records for the IP address @{items('For_Each_Entity')?['properties']?['address']}. Can you look that up for me for the last 30 days?"
                                                                },
                                                                "path": "/process-prompt"
                                                            }
                                                        },
                                                        "Compose_AbuseDBIP_Analysis": {
                                                            "runAfter": {
                                                                "Security_Copilot_prompt_for_AbuseIPDB": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose",
                                                            "inputs": "@body('Security_Copilot_prompt_for_AbuseIPDB')?['EvaluationResultContent']"
                                                        }
                                                    }
                                                },
                                                "Case_-_Account": {
                                                    "case": "Account",
                                                    "actions": {
                                                        "Security_Copilot_prompt_for_Account_": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "body": {
                                                                    "PromptContent": "Give me all usr details for @{items('For_Each_Entity')?['properties']?['accountName']}. Does @{items('For_Each_Entity')?['properties']?['accountName']}have any registered devices in Microsoft Entra? List the recent risky sign-ins for @{items('For_Each_Entity')?['properties']?['accountName']}. Get Microsoft Entra audit logs for @{items('For_Each_Entity')?['properties']?['accountName']} for the past 72 hours.",
                                                                    "SkillName": "GetEntraUserDetails"
                                                                },
                                                                "path": "/process-prompt"
                                                            }
                                                        },
                                                        "Compose_Account_Analysis": {
                                                            "runAfter": {
                                                                "Security_Copilot_prompt_for_Account_": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose",
                                                            "inputs": "@body('Security_Copilot_prompt_for_Account_')?['EvaluationResultContent']"
                                                        }
                                                    }
                                                },
                                                "Case_-_Host": {
                                                    "case": "Host",
                                                    "actions": {
                                                        "Security_Copilot_prompt_for_Device": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "body": {
                                                                    "PromptContent": "Tell me about device @{items('For_Each_Entity')?['properties']?['hostName']}.",
                                                                    "SkillName": "GetIntuneDevices"
                                                                },
                                                                "path": "/process-prompt"
                                                            }
                                                        },
                                                        "Compose_Device_Analysis": {
                                                            "runAfter": {
                                                                "Security_Copilot_prompt_for_Device": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose",
                                                            "inputs": "@body('Security_Copilot_prompt_for_Device')?['EvaluationResultContent']"
                                                        }
                                                    }
                                                },
                                                "Case_-_Process": {
                                                    "case": "Process",
                                                    "actions": {
                                                        "Security_Copilot_prompt_for_Process": {
                                                            "type": "ApiConnection",
                                                            "inputs": {
                                                                "host": {
                                                                    "connection": {
                                                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                                                    }
                                                                },
                                                                "method": "post",
                                                                "body": {
                                                                    "PromptContent": "Tell me more about the process command line: @{items('For_Each_Entity')?['properties']?['commandLine']}",
                                                                    "SkillName": "ScriptAnalyzer"
                                                                },
                                                                "path": "/process-prompt"
                                                            }
                                                        },
                                                        "Compose_Process_Analysis": {
                                                            "runAfter": {
                                                                "Security_Copilot_prompt_for_Process": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "Compose",
                                                            "inputs": "@body('Security_Copilot_prompt_for_Process')?['EvaluationResultContent']"
                                                        }
                                                    }
                                                }
                                            },
                                            "default": {
                                                "actions": {}
                                            },
                                            "expression": "@items('For_Each_Entity')?['kind']",
                                            "type": "Switch"
                                        }
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Compose_Incident_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "No_Entities_Found_-_Cancel_Execution": {
                                        "type": "Terminate",
                                        "inputs": {
                                            "runStatus": "Cancelled"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(outputs('Compose_Incident_Entities'))",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Compose_-_Incident_Data": {
                            "runAfter": {
                                "Condition_-_Validate_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "Incident Ttile: @{triggerBody()?['object']?['properties']?['title']},\nIncident Description: @{triggerBody()?['object']?['properties']?['description']},\nIncident Severity: @{triggerBody()?['object']?['properties']?['severity']},\nIncident Tactics: @{triggerBody()?['object']?['properties']?['additionalData']?['tactics']},\nIp Address Analysis: @{outputs('Compose_AbuseDBIP_Analysis')},\nAccount Analysis: @{outputs('Compose_Account_Analysis')},\nDevice Analysis: @{outputs('Compose_Device_Analysis')},\nProcess Analysis: @{outputs('Compose_Process_Analysis')}"
                        },
                        "Security_Copilot_perform_incident_investigation": {
                            "runAfter": {
                                "Compose_-_Incident_Data": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "PromptContent": "Here is the security incident detail: @{outputs('Compose_-_Incident_Data')}\n\nPerform investigation on security incident in following order. Incident Overview, Incident Description, Analysis on Ip Address, Account, Host and Process, Possible mitigation steps and Conclusion. ",
                                    "SkillName": "SummarizeData"
                                },
                                "path": "/process-prompt"
                            }
                        },
                        "Compose_-_Incident_Investigation": {
                            "runAfter": {
                                "Security_Copilot_perform_incident_investigation": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('Security_Copilot_perform_incident_investigation')?['EvaluationResultContent']"
                        },
                        "Add_Investigation_Notes_to_Incident": {
                            "runAfter": {
                                "Compose_-_Incident_Investigation": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<br>@{outputs('Compose_-_Incident_Investigation')}<br>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]"
                            },
                            "securitycopilot": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/securitycopilot')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('securitycopilotConnectionName'))]",
                                "connectionName": "[variables('securitycopilotConnectionName')]"
                                }
                        }
                    }
                }
            },
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('securitycopilotConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('securitycopilotConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('securitycopilotConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/securitycopilot')]"
                }
            }
        }
    ]
}